p{background-color:lightgoldenrodyellow}
img{width: 70px; border: rgb(34, 10, 10); border-width: 5px; border-radius: 500px;position: absolute; top: 5;}
.container{background-color: dodgerblue; height: 30px;  font-size: x-large; }
nav a:hover{color: ghostwhite;}
h1, h3{background-color: gold;}
/* h1{height: 60px; } */
nav a{color: rgb(71, 255, 102);} 
footer{background-color: slategrey;}
footer a{color: rgb(71, 255, 102);}
footer a:hover{color: white;}
footer{ font-size: x-large;}
a{text-decoration: none;}
table {
    border-collapse: separate;
    border-spacing: 30px 0;
    background-color: tomato;
    position: relative;
    left: 45ch;
    border: 5px solid;
    padding: 10px;
  }
  
  td {
    padding: 10px 0;
    
  }
  body{text-align: center;
}
form input{background-color: rgb(240, 236, 215);}
form {background-color: dodgerblue;}
button {background-color: tomato;}